    /* styling the  section 1*/
    
    $primary-color:#D7D6D7;
    $secondary-color:#c94f51;
    .stripe {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        padding: 0px 85px;
        align-items: center;
        background-color: #eee;
        letter-spacing: 1px;
        position: sticky;
        top: 0px;
        z-index: 2;
    }
    
    .stripe a {
        padding: 7px 10px;
        display: block;
        width: 135px;
        text-align: center;
    }
    
    .stripe a:focus {
        background: #5CDFB7;
        text-decoration: none;
        color: white;
        border: none;
    }
    
    .section-active {
        background: #5CDFB7!important;
        text-decoration: none!important;
        color: white!important;
        border: none!important;
    }
    
    .stripe a:target {
        background: #5CDFB7;
        text-decoration: none;
        color: white;
        border: none;
    }
    
    .stripe a:-webkit-any-link {
        text-decoration: none;
    }
    
    .stripebtn {
        border: 1px solid black;
        outline: none;
        padding: 10px;
        border-radius: 30px;
        color: black;
        background-color: transparent;
        font-size: 1rem;
        text-transform: uppercase;
        /* box-shadow: 2px 2px 3px 2px grey; */
        width: 150px;
        font-weight: bold;
    }
    
    .brand-btn {
        width: 240px;
        height: 100px;
        // background: #400F10;
    }
    
    @media screen and (max-width:600px) {
        .stripe {
            flex-flow: column nowrap;
            justify-content: center;
            .stripebtn {
                margin: 20px 20px;
            }
        }
    }
    /*styling   section 2*/
    
    #page2-section2 {
        margin: 0px;
        box-sizing: border-box;
        padding: 0px;
        position: relative;
        height: auto;
        .dark-overlay {
            position: absolute;
            top: 0px;
            left: 0px;
            width: 45%;
            height: 70vh;
            background-color: #3e3e45;
            z-index: 1;
        }
        .overview-ovrelay-text {
            position: absolute;
            top: 50%;
            left: 85px;
            transform: translate(0, -50%);
            width: 35%;
            z-index: 1;
            opacity: 0.9;
            &::after {
                content: "f";
            }
            h1 {
                font-size: 3rem;
                color: white;
            }
            p {
                font-size: 1.4rem;
                line-height: 1.8rem;
                color: white;
            }
        }
    }
    
    @media screen and (max-width:850px) {
        #page2-section2 {
            .overview-ovrelay-text {
                width: 50%;
                max-height: 100%;
                overflow: hidden;
            }
        }
    }
    /* styling the section 3 */
    
    #page2-section3 {
        box-sizing: border-box;
        margin: 0px;
        padding: 10px;
        .menu-bar-2 {
            width: 80%;
            margin: auto;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
        }
        .is-current {
            color: blue;
        }
    }
    
    @media screen and (max-width:1024px) {
        #page2-section3 {
            .menu-bar-2 {
                width: 100%;
            }
        }
    }
    
    @media screen and (max-width:716px) {
        #page2-section3 {
            .menu-bar-2 {
                width: 100%;
                flex-flow: column nowrap;
            }
        }
        .overview-ovrelay-text {
            width: 50%;
            h1 {
                font-size: 1.5rem !important;
            }
            p {
                font-size: 1rem !important;
                line-height: 1.5rem !important;
            }
        }
    }
    
    .anchor {
        padding-right: 50px;
    }
    
    .icon {
        margin: 10px auto;
        width: 70px;
        height: 70px;
        background-color: rgb(215, 214, 215);
        border-radius: 50%;
        padding: 5px;
    }
    
    div.icon:hover div.menu-bar-2-items.title:after {
        content: "";
        position: relative;
        bottom: 5px;
        left: 50%;
        border: 8px solid transparent;
        border-top-color: $secondary-color;
    }
    
    .menu-title,
    .title {
        padding: 4px 15px;
        background-color: #d7d6d7;
        color: black;
        border-radius: 30px;
    }
    
    div.menu-bar-2-items:hover .menu-title {
        border: 2px solid #5cdfb7;
        background-color: white;
        font-weight: bold;
    }
    
    div.menu-bar-2-items:hover .highlight {
        border: 2px solid #5cdfb7;
        background-color: white!important;
    }
    
    .hide {
        display: none;
    }
    
    div.menu-bar-2-items:hover+.hide {
        display: block;
    }
    
    span {
        cursor: pointer;
    }
    
    .number {
        text-align: right;
    }
    
    .minus,
    .plus {
        width: 40px;
        height: 35px;
        border-radius: 4px;
        padding: 4px 5px 8px 5px;
        display: inline-block;
        vertical-align: middle;
        text-align: center;
    }
    
    .count {
        height: 32px;
        width: 40px;
        text-align: center;
        font-size: 17px;
        border: 1px solid grey;
        border-radius: 4px;
        border-color: hsl(0, 0%, 80%);
        display: inline-block;
        vertical-align: middle;
        padding: 0px 0px;
        -webkit-appearance: none;
        -moz-appearance: textfield;
        font-family: inherit;
    }
    
    .count:hover {
        border: 1px solid #5cdfb7;
        border-color: #5cdfb7;
    }
    
    .count:focus {
        border: 2px solid #5cdfb7;
        border-color: #5cdfb7;
        outline: #000;
    }
    
    select {
        height: 32px;
        width: 125px;
        text-align: center;
        font-size: 15px;
        border: 1px solid $secondary-color;
        border-radius: 4px;
        display: inline-block;
        vertical-align: middle;
        padding: 0px 20px;
        background-color: white;
    }
    
    .checkout {
        padding: 10px 30px;
        border-radius: 20px;
        border: none;
        outline: none;
        text-transform: uppercase;
    }
    
    .checkout:hover {
        background-color: #5cdfb7;
        color: white;
    }
    
    .checkout-color {
        background-color: #5cdfb7;
        color: white;
        border: none;
    }
    
    .sidenav {
        height: 100%;
        width: 0px;
        position: fixed;
        z-index: 1;
        right: -25px;
        top: 0;
        background-color: rgb(255, 255, 255);
        padding-top: 20px;
        padding-left: 20px;
        margin-top: 75px;
        transition: 0.5s;
    }
    
    .show {
        width: 40vw;
        right: 0px
    }
    
    .cart {
        border-bottom: 1px solid grey;
        padding: 30px 0px;
    }
    
    body.ReactModal__Body--open {
        overflow-y: hidden;
    }
    
    .hidden {
        visibility: hidden;
    }
    
    .showbody {
        visibility: visible;
    }
    
    @media (max-width: 768px) {
        .number {
            text-align: center;
        }
        .card-select {
            margin-left: 39%
        }
    }